/* body css */
body {
    background-color: #fdfbf9;
    margin: 5px;
    
}

/* header link */
header {
    background-color: #ff95b5;
    font-size: 28px;
    color:#fdfbf9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0%;
    padding: 10px 10px 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.links {
    float: right;
    color: #fdfbf9
}

.links a {
    color: #fdfbf9;
    padding: 1px 1px 1px 1px;
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding: 38px;
    border-bottom: 1px solid #bbb;
    text-align: center;
    color: #494949;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #494949;
}

section {
    margin: 40px;
    padding: 8px 2px 8px 8px;
    background-color: #ffe4ef;
}

.project {
    width: 150px;
    float: left;
    padding: 5px 10px 2px 2px;
}
