/* body css */
body {
    background-color: #fdfbf9;
}

/* header link */
header {
    background-color: #ff95b5;
    font-size: 28px;
    color:#fdfbf9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0%;
    padding: 10px 10px 10px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.links {
    float: right;
    color: #fdfbf9
}

.links a {
    color: #fdfbf9;
    padding: 1px 1px 1px 1px;
}

main {
    padding: 50px 50px 30px 50px;
    color: #494949 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.design {
    width: 150px;
    float: left;
    padding: 2px 10px 2px 2px;
}

.camera {
    width: 150px;
    float: right;
    padding: 5px 10px 2px;
}

.dance {
    width: 150px;
    float: left;
    padding: 5px 10px 2px 2px;
}

section {
    border-top: 1px solid #bbb;
}

.portfolio {
    margin: 40px;
    padding: 8px 2px 8px 8px;
    background-color: #ffe4ef;
}

.project {
    width: 150px;
    float: left;
    padding: 5px 10px 2px 2px;
}


/* Contact Me */
@media screen and (max-width: 992px) {
.container {
        display: flex;
        flex-direction: row;
        background-color: #ff95b5;
        padding: 30px;
        position: relative;
}

.container label{
    flex: none;
    display: block;
    width: 10px;
}

.fname{
    width: 250px;
}
.lname{
    width: 250px;
}
.email{
    width: 300px;
    
}
textarea{
    width: 520px;
    height: 200px;
}
button {
    padding: 1;
    min-width: 100px;
}
}